# Using Time Series to more accurately predict wave heights

In [2]:
import utilities.misc as misc
import utilities.metrics as mtr
import utilities.ml_functions as ml
import pandas as pd

In [9]:
# convert datetime to unix
df = pd.read_csv('clean_weather/valid_dates/m1_valid_dates.csv', parse_dates=['date', 'time'])
start_date = min(df['time'])
end_date = max(df['time'])

df['timestamps'] = pd.to_datetime(df['time'])
df['timestamps'] = (df['timestamps'] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')  

df.head()

,Unnamed: 0,time,station_id,AtmosphericPressure,WindDirection,WindSpeed,Gust,WaveHeight,WavePeriod,MeanWaveDirection,Hmax,SeaTemperature,date,timestamps
0,598,2021-11-29 00:00:00,M1,983.4,180.0,28.99,40.9,4.4,9.0,NaN,NaN,9.1,2001-03-08,1638144000
1,599,2021-11-29 01:00:00,M1,983.0,180.0,28.02,38.9,4.4,8.0,NaN,NaN,9.2,2001-03-08,1638147600
2,600,2021-11-29 02:00:00,M1,982.8,180.0,26.07,38.9,4.6,10.0,NaN,NaN,9.2,2001-03-08,1638151200
3,601,2021-11-29 03:00:00,M1,982.2,180.0,27.04,37.0,4.1,8.0,NaN,NaN,9.3,2001-03-08,1638154800
4,602,2021-11-29 04:00:00,M1,980.8,170.0,27.04,37.0,4.8,NaN,NaN,NaN,9.3,2001-03-08,1638158400

In [5]:
dates = pd.to_datetime(['2019-01-15 13:30:00'])
(dates - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')  
# Int64Index([1547559000], dtype='int64')

Int64Index([1547559000], dtype='int64')

In [ ]:
# plot data in time

In [ ]:
# predict using daily seasonality